@import url('normalize.min.css');

body{
	background:#333133;
}

#upload_form{
	background:#00ADEF;
	border-radius: 5px;

	webkit-box-shadow: 0px 0px 10px 0px rgba(107,103,107,.4);
		-moz-box-shadow: 0px 0px 10px 0px rgba(107,103,107,.4);
				 box-shadow: 0px 0px 10px 0px rgba(107,103,107,.4);

	/*This will give ie a maximum width, but lets it shrink to fit on mobile*/
	max-width:25rem;
	width:80%;
	padding: 20px;
	
	/* Keeps the form always centered on the page */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#image_url_input{
	border-radius: 5px;
	box-shadow: none;
	border: none;
}

#image_url_input,
#image_file_input{
	text-align:center;
	margin:5px 5%;
	width: 90%;
	height: 1.5em;
}

#upload_button{

}