body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#333;
}

#palette {
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	margin:0;
	padding:0;
	background:#222;
  display: flex;

}

.swatch {
	position:relative;
	height: 40px;
	min-width:40px;
	flex-grow:1;
	margin: 5px 0px 5px 5px;
}
.swatch:last-child{
	margin-right:5px;
}

.swatch:not(:hover) .swatchText,
.swatch:not(:hover) .closeButton{
	display:none;
}

.closeButton {
  color: #111;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
  border:none;
  background:none;
  box-shadow:none;
  outline:none;
}

.swatchText {
	position:absolute;
	top:50%;
	left:50%;
	font-weight:bold;
	color:#333;
	transform: translateY(-50%) translateX(-50%);
}

.closeButton:hover{
	color:#fff;
}

.closeButton:after {
	content: 'x';
}
